{% extends "base.html" %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="breadcrumb">
                <a href="{{ SITEURL }}/">Home</a> &bull; <a href="{{ SITEURL }}/categories.html">Categories</a> &bull; <a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ category }}</a> &bull; {{ article.title }}
            </div>
            <h2>{{ article.title }}</h2>
            <div>{{ article.content }}</div>

            {% if article.tags %}
    		    <div class="tags">
    		        <p>Tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>{% endfor %}</p>
    		    </div>
    		{% endif %}
        </div>
    </div>
{% endblock content %}
