{% extends "base.html" %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="breadcrumb">
                <a href="{{ SITEURL }}/">Home</a> &bull; <a href="{{ SITEURL }}/categories.html">Categories</a> &bull; {{ category }}
            </div>
            <ul class="mdl-list">
            {% for article in articles %}
                <li class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <span><a class="mdl-navigation__link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></span>
                        <span class="mdl-list__item-sub-title">{{ article.date|strftime('%d %B %Y') }}</span>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
